.App {
  text-align: center;
  width: 100vw;
}

.AppNone {
  display: none;
}

#errorImage {
  width: 100%;
}

@media only screen and (max-device-width: 1365px) {
  .App {
    display: none;
  }
  .AppNone {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

#logoLoadding {
  animation: App-logo-spin 1s ease-in-out infinite;
}

#logoLoaddingHover:hover {
  animation: App-logo-spin 1s ease-in-out;
}

.css-1a1fmpi-MuiInputBase-root-MuiInput-root::before {
  border-bottom: none !important;
}
.css-1a1fmpi-MuiInputBase-root-MuiInput-root::after {
  border-bottom: 2px solid #6777e8 !important;
}

.css-1yf1g2m::before {
  border-bottom: none !important;
}

.Container-container .css-1kbmavd {
  width: 100%;
  height: 100%;

  background-color: #3f3f;
}

.slick-dots li button:before {
  color: #fff !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
  width: 20px !important;
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
  background-color: transparent !important;
}

#leftImage1 {
  animation: float 6s ease-in-out infinite;
}

#leftImage2 {
  animation: float 6s ease-in-out infinite;
  width: 50%;
  margin-bottom: 50px;
}

#leftImage3 {
  animation: float 6s ease-in-out infinite;
  width: 44%;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}
